backend/venv/
backend/db.sqlite3
backend/staticfiles/
backend/mindmetric/__pycache__/
backend/apps/**/__pycache__/
**/__pycache__/
*.pyc
.env

frontend/node_modules/
frontend/dist/

.claude/
.thumbnail
